{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "max-len": [1, 270, 2],
    "no-shadow": [1, { "allow": ["done", "resolve", "reject", "done", "cb", "err", "error"] }],
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "comma-dangle": 0,
    "arrow-body-style": 0,
    "one-var": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-use-before-define": 0,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-multi-spaces": 0,
    "object-curly-spacing": 0,
    "curly": 0,
    "quotes": [2, "single", "avoid-escape"],
    "space-infix-ops": 0,
    "no-param-reassign": 0,
    "space-before-keywords": 0,
    "space-after-keywords": 0,
    "space-return-throw-case": 0,
    "no-empty-label": 0,
    "new-cap": 0,
    "strict": 0,
    "no-nested-ternary": 0,
    "key-spacing": 0,
    "space-before-function-paren": 0,
    "brace-style": 0,
    "valid-typeof": 0,
    "vars-on-top": 0,
    "no-unused-expressions": 0,
    "no-sequences": 0,
    "padded-blocks": 0,
    "lines-around-comment": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/no-multi-comp": 0,
    "import/default": 1,
    "import/no-named-as-default": 2,
    "jsx-quotes": [2, "prefer-single"]
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
