.loginPage {
  padding-top: 15px;

  .toggleSignUp {
    display: inline-block;
    padding-bottom: 3px;

    &+.toggleSignUp {
      margin-left: 50px;
    }

    &.active {
      border-bottom: 4px solid black;
    }
  }
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}
